# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/raw/
data/processed/
data/chunks/

# Node
node_modules/
frontend/node_modules/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Docker
*.pid